* {
    box-sizing: border-box;
  }

  html {
    position: relative;
    scroll-behavior: smooth;
  }
  
  html::before {
    content: "";
    background: url(https://thumbs.dreamstime.com/b/cyber-screen-orange-hacker-digital-text-motion-graphic-background-backdrop-171229054.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
  }
  
  body {

    z-index: 1;
  }
  
  header {
    background-color: #cacccb;
    padding: 15px;
    height: 100%;
    border-radius: 10px;
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#cf40404f;
    color: #ffffff;
    transition: 0.3s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .three:hover {
    background-color: #cf4040;
  }

  .two:hover {
    background-color: #000000;
  }

  .link {
    text-decoration: none;
    color: #ffffff;
    font-family:'Slackey', cursive ;
    cursor: pointer;
    text-transform: uppercase;
  }

  .link1 {
    text-decoration: none;
    color: #000000;
    font-family:'Slackey', cursive ;
    cursor: pointer;
    text-transform: uppercase;
  }

 figcaption {
    text-align: center;
    color: #ffffff;
 }

.in2d {
    
    background-color: #cacccb;
    text-align: center;
    font-family: 'Taviraj', serif;
    font-size: 22px;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}

h2 {
    font-size: 35px;
    font-family: 'Slackey', cursive;
    color: #FD4400;
} 

  img {
    max-width: 100%;
  }
  
  .quote {
    background-color: #FD4400;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}




  video {
    width: 100%;
    height: auto;
  }

  .myhp {
    text-align: center;
  }
  
  .row:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .row2:after {
    content: "";
    clear: both;
    display: table;
  }

  .row3:after {
    content: "";
    clear: both;
    display: table;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  
  .footer {
    background-color: #FD4400;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }